@import './vars';

// Heading
.h1 {
    color: $black;
    font-weight: 700;
    font-size: 4rem;
    line-height: calc((1.32em / 1em) * 100%);
}

.h2 {
    color: $black;
    font-size: 3.5rem;
    line-height: calc((1.3em / 1em) * 100%);
    font-weight: 700;
}

.h3 {
    font-size: 3rem;
    font-weight: 700;
    color: $black;
    line-height: calc((1.3em / 1em) * 100%);
}

.h4 {
    font-size: 2.8rem;
    font-weight: 700;
    color: $black;
    line-height: calc((1.32em / 1em) * 100%);
}

.h5 {
    font-size: 2rem;
    font-weight: 700;
    color: $black;
    line-height: calc((1.3em / 1em) * 100%);
}

.h6 {
    font-size: 1.6rem;
    font-weight: 700;
    color: $black;
    line-height: calc((1.31em / 1em) * 100%);
}


// Subtitle
.subtitle1 {
    font-size: 1.6rem;
    font-weight: 500;
    color: $black;
    line-height: calc((1.31em / 1em) * 100%);
}

.subtitle2 {
    font-size: 1.2rem;
    font-weight: 500;
    color: $black;
    line-height: calc((1.3em / 1em) * 100%);
}


// Caption
.caption1 {
    font-size: 1.6rem;
    font-weight: 400;
    color: $gray;
    line-height: calc((1.31em / 1em)  * 100%);
}

.caption2 {
    font-size: 1.3rem;
    font-weight: 400;
    color: $white;
    line-height: calc((1.38em / 1em) * 100%);
}

.caption3 {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba($black, .6);
    line-height: calc((1.18em / 1em) * 100%);
}

.caption4 {
    font-size: 1.2rem;
    font-weight: 400;
    color: $gray;
    line-height: calc((1.33em / 1em) * 100%);
}


// Body
.body {
    font-size: 1.6rem;
    font-weight: 400;
    color: $black;
    line-height: calc((1.31em / 1em) * 100%);
}


// Buttons
.button {
    font-size: 1.6rem;
    font-weight: 500;
    color: $black;
    line-height: calc((1.31em / 1em) * 100%);
}

// Link
.link {
    font-size: 1.6rem;
    font-weight: 500;
    color: $primary;
    line-height: calc((1.31em / 1em) * 100%);
    display: block;
    transition: all .2s linear;
}


// Helpers
.txt-medium {
    font-weight: 500;
}

.txt-regular {
    font-weight: 400;
}

.txt-bold {
    font-weight: 700;
}

.txt-blue {
    color: $primary;
}

.txt-light-green {
    color: $lightenGreen;
}

.txt-green {
    color: $green;
}

.txt-gray {
    color: $gray;
}

.txt-white {
    color: $white;
}