.hidden {
   display: block;
}

.desktop-visible {
   
   @media (max-width: $md2) {
      position: absolute;
      overflow: hidden;
      opacity: 0;
      z-index: -1;
      width: 0.1px;
      height: 0.1px;
   
      transition: all .2s linear;
   }
}

.desktop-hidden {
   @media (min-width: $md2) {
      position: absolute;
      overflow: hidden;
      opacity: 0;
      z-index: -1;
      width: 0.1px;
      height: 0.1px;
   
      transition: all .2s linear;
   }
}